.App {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.container {
  height: 100vmax;
  background-color: #232426;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

.textStyling {
  text-shadow: mintcream;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.transportButton {
  background-color: #ffc631;
  margin: 10px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px #999;
  border-radius: 0px 3px 3px 3px;
  outline: none;
}

.transportButton:active {
  box-shadow: 0 2px #999;
  outline: none;
  transform: translateY(3px);
}

.bpmBox {
  font-size: 20px;
  outline: none;
  border: none;
}

.titleDrummer {
  font-size: 36px;
  padding: 15px;
}
