.playGrid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50px;
}

.button {
  height: 50px;
  background-color: #4effef;
}

.four {
  height: 50px;
  background-color: #73a6ad;
}

.activeButton {
  background-color: #9b97b2;
}

.playing {
  opacity: 50%;
}
